/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(13, 31%, 94%);
    margin: 0;
    padding: 20px;
}

/* Layout Containers */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Headings */
.dessert-heading {
    font-size: 32px;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Product Details */
.product-details {
    text-align: left;
    padding-top: 20px;
}

.product-name {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(14, 25%, 72%);
    margin-bottom: 5px;
}

.product-subtext {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(14, 65%, 9%);
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(14, 86%, 42%);
    margin-top: 5px;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

/* Menu Container */
.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.add-to-cart {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 0.5px hsl(14, 5%, 72%);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    width: 60%;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    z-index: 1;
    transition: background-color 0.3s ease;
    text-align: center;
    white-space: nowrap;
}

.add-to-cart:hover {
    color: hsl(14, 86%, 42%);
    border-color: hsl(14, 86%, 42%);
}

.add-to-cart::before {
    content: "\1F6D2"; /* Shopping cart emoji */
    margin-right: 5px;
}

/* Cart Container */
.cart-container {
    width: 250px;
    min-height: 350px;
    border-radius: 8px;
    position: relative;
}

.confirm-cart {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    /* height: 250px; */
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

.cart-heading {
    color: #e44d26;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cart-items-list {
    list-style-type: none;
    padding: 0;
}

.empty-cart-icon {
    text-align: center;
}

.empty-cart-img{
    width: 100px;
    height: auto;
}

.cart-message {
    text-align: center;
    color: hsl(7, 20%, 60%);
    font-size: 14px;
}

.cart-total {
    font-weight: bold;
    margin-top: 20px;
}

/* .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
} */

/* Cart item styles */
.item-container {
    border-bottom: solid 1px hsl(13, 31%, 94%);
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 1em;
}

.cart-item-name {
    font-weight: bold;
    color: hsl(14, 65%, 9%);
}

.cart-item-quantity {
    color: hsl(14, 86%, 42%);
    font-weight: 500;
}

.cart-item-total {
    color: hsl(12, 20%, 44%);
}

.cart-item-price {
    color: hsl(7, 20%, 60%);
}
.remove-item {
    background: none;
    border: none;
}
.remove-item img {
    width: 24px;
    height: 24px;
}

/*Button styles*/

.decrease-btn,
.increase-btn {
    background-color: #ffffff;
    border: solid 0.5px hsl(14, 5%, 72%);
    padding: 0 7px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.decrease-btn:hover,
.increase-btn:hover {
    background-color: hsl(14, 86%, 42%);
    color: white;
}

.confirm-order {
    display: none;   
    margin-top: 10px;
    color: hsl(13, 31%, 94%); 
    background-color: hsl(14, 86%, 42%);
    padding: 15px 20px;
    border-radius: 24px;
    border: none;
}

.confirm-order:hover {
    background-color: hsl(14, 88%, 29%);
}

/* Animations and transitions */
.remove-icon {
    width: 50px;
    height: 10px;
    vertical-align: middle;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.remove-item:hover .remove-icon {
    transform: scale(1.2); 
}

.empty-cart-icon,
.cart-items-list {
    transition: opacity 0.3s ease;
}

/* Cart Summary */
.cart-summary{
    display: flex;
    flex-direction: column;
}

.order-total-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-text {
    font-size: 14px;
    font-weight: 400;
    color: hsl(12, 20%, 44%);
}
.total-cost {
    font-size: 20px;
    color: hsl(14, 65%, 9%);
    font-weight: 800;
}


.selected-border {
    /* background-color: hsl(14, 86%, 42%); */
    border: 1px solid #e44d26;
}



.order-confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    z-index: 1000;
    padding: 20px;
    max-height: 60vh; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scroll if content exceeds max-height */
}

.order-confirmation-popup::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
  }

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.popup-header {
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
}

.popup-header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.popup-header p {
    margin-top: 5px;
}

.checkmark {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}
.checkmark img {
    width: 100%;
    height: 100%;
}

.order-details {
    margin-bottom: 20px;
    background-color: hsl(0, 100%, 98%);
    padding: 10px;
    border-radius: 10px;
}

.item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: solid 1px hsl(13, 15%, 88%);
    margin-bottom: 15px;
    font-size: 12px;
}

.item-details-inner {
    display: flex;
}

.cart-item-name {
    margin-bottom: 5px;
    margin-top: 0px;
}

.cart-item-quantity {
    margin-right: 10px;
}

.confirm-item-total {
    font-weight: bold;
    color: #2c2c2c;
}

.order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.text {
   color: hsl(14, 5%, 72%); 
   font-weight: 500;
   font-size: 14px;
}
.start-new-order {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 24px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    cursor: pointer;
}

.start-new-order:hover {
    background-color: hsl(14, 88%, 29%);
}

